body {
    color: #777777;
}
.header-bar {
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 80%;
    background-color: #ffffff;
    border-color: #cccccc;
}
.me-div {
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    font-size: larger;
    width: 25%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
.left-link-menu {
    float: right;
    padding: 15px:
}
.me-pic {
    float: left;
    margin: 15px;
}
.main-body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 80%;
    background-color: #ffffff;
    border-color: #dddddd;
}
.about-me {
    color: #4aaaa5;
}